@import "tailwindcss";

@theme {
  --fill-primary-color: #9eff00;
  --color-primary: #9eff00;
  --color-primary-background: #010101;
  --color-overlay: #161616;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #010101;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

html,
body {
  overflow: auto;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

.shiny-text {
  color: #ffffffb9;
  background: linear-gradient(
    120deg,
    rgba(158, 255, 0, 0) 40%,
    rgba(158, 255, 0, 0.8) 50%,
    rgba(158, 255, 0, 0) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 5s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.shiny-text.disabled {
  animation: none;
}
