@import "tailwindcss";

@theme {
  --fill-primary-color: #9eff00;
  --color-primary: #9eff00;
  --color-primary-background: #1a1a1a;
  --color-overlay: #2a2a2a;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
